button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 1rem;
  line-height: 0;
  i{
    padding: .4rem;
  }
  
  &.shaded{
    box-shadow: 0px .4rem .5rem #e2e2e2;
  }

  &.white {
    background-color: #ffffff;
    &:hover, &:focus {
      background-color: #2EE59D;
      box-shadow: 0px .4rem .5rem #ccc;
    }
  }

  &.red {
    background-color: #F88170;
    &:hover, &:focus {
      background-color: #ffffff;
      box-shadow: 0px .4rem .5rem #ccc;
    }
  }
}