:root {
  --accent-color: #ff7d52;
  --accent2-color: #36B0F4;
  --disabled-color: #CCC;
  --discreet-color: #555;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto Light";
}

body * {
  box-sizing: border-box;
}

#app {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  header {
    padding: 1rem;

    img {
      height: 3rem;

      &:focus, &:hover {
        filter: invert(65%) sepia(59%) saturate(763%) hue-rotate(312deg) brightness(98%) contrast(98%);
      }
    }

    display: flex;
    justify-content: space-between;
  }

  main {
    padding: .4rem 0 2rem 0;
    flex: 1;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  footer {
    background-color: #ffffff;

    ul {
      padding: .4rem 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;

      & .top {
        transform: translateY(-20px);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    place-items: center;
    display: grid;
    height: 100vh;
    width: 100vw;
    background: rgb(238, 174, 202);
    background: linear-gradient(345deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  }
  #app {
    height: 800px;
    width: 768px;
    border-radius: .4rem;

    footer {
      border-radius: 0 0 .4rem .4rem;
    }
  }
}